<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Article</h1>

		<f:flashMessages />

		<table  class="tx_kitt3narticle" >
			<tr>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input1" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input2" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input3" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input4" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input5" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input6" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input7" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input8" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input9" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.input10" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.rich_text1" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.rich_text2" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.rich_text3" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.rich_text4" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.rich_text5" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.text1" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.text2" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.text3" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.text4" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.text5" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.date_time1" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.date_time2" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.date_time3" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.file1" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.file2" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.file3" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.image1" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.image2" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.image3" /></th>
				<th><f:translate key="tx_kitt3narticle_domain_model_article.slug" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{articles}" as="article">
				<tr>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input1}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input2}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input3}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input4}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input5}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input6}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input7}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input8}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input9}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.input10}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.richText1}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.richText2}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.richText3}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.richText4}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.richText5}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.text1}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.text2}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.text3}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.text4}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.text5}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.dateTime1 -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.dateTime2 -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.dateTime3 -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.file1.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.file2.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.file3.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.image1.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.image2.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.image3.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{article : article}"> {article.slug}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{article : article}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{article : article}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Article</f:link.action>
	</f:section>
</html>